<% include ../partials/header.ejs %>

<div class="viewport-container">
    <div class="container-fluid">
	    <div class="row">
	        <div class="col-12 col-md-6 col-lg-4 text-center">
	            <div class="card mt-3 mb-3">
	            	<div class="card-block">
	            		<img src="/images/food-not-bombs-logo.svg" class="img-fluid">
	            		<h1 class="card-title">East Bay Food Not Bombs</h1>
	            	</div>
	            </div>
	        </div>
	        <div class="col-12 col-md-6 col-lg-8 text-center text-md-left">
	            <div class="card mt-3 mb-3">
	            	<div class="card-block">
	            		<h3 class="display-4">Come Cook With Us</h3>
	            		<h3>Monday</h3>
	            		<p>
	            			<strong>Newman Hall</strong><br>
	            			<a target="_blank" href="http://maps.google.com/?q=2700 Dwight Way, Berkeley, CA 94704">
	            				2700 Dwight Way,<br> Berkeley, CA 94704
	            			</a><br>
	            			Start Time: 10:30 AM
	            		</p>
	            		<h3>Tuesday</h3>
	            		<p>
	            			<strong>First Presbyterian Church</strong><br>
	            			<a target="_blank" href="http://maps.google.com/?q=2619 Broadway, Oakland, CA 94612">
	            				2619 Broadway,<br>
	            				Oakland, CA 94612
	            			</a><br>
	            			Start Time: 11:30 AM
	            		</p>
	            	</div>
	            </div>
	        </div>
	    </div>
	</div>    
</div>

<% include ../partials/footer.ejs %>